<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Вывод в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Формат: время [уровень] класс - сообщение -->
            <pattern>%d{HH:mm:ss} [%highlight(%-5level)] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для всего приложения -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Отладка только для твоих классов (опционально) -->
    <logger name="network.labs.lab1" level="DEBUG"/>

</configuration>