<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Чистый формат: время [уровень] класс - сообщение -->
            <pattern>%d{HH:mm:ss} [%level] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Корневой уровень логирования -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Включаем DEBUG для ВСЕГО пакета ЛР-01 -->
    <logger name="network.labs.lab1" level="DEBUG"/>

</configuration>